server {
    listen 80;
    server_name _;

    location /static {
        alias /home/{{ ansible_ssh_user }}/sites/{{ site_name }}/static;
    }

    location / {
        proxy_pass http://192.168.0.135:8000;
    }
}