{% extends 'base.html' %} 

{% load static %} 

{% block title %} Блог мастерской кожаных изделий ручной работы" {% endblock %}

{% block mainContent %}
    <style>
        .header_background {
            background-image: url({% static 'img/blog/blog_320x568_2.jpg' %});
        }
        @media (min-width: 576px) {
            .header_background  {
                background-image: url({% static 'img/blog/blog_576x568_2.jpg' %});
            }
        }
        @media (min-width: 768px) {
            .header_background {
                background-image: url({% static 'img/blog/blog_768x550_2.jpg' %});
            }

        }
        @media (min-width: 1200px) {
            .header_background{
                background: url({% static 'img/header_shadow.png' %}) 0 0 repeat-x,
                    url({% static 'img/blog/blog_1200x760_2.jpg' %}') center/cover no-repeat;
            }
        }
    </style>
    {% include 'includes/header_big.html' %}
    <script>
        let h1 = document.getElementById('header-title');
        {% comment %} h1.textContent = '{{category.product_category_h1}}'; {% endcomment %}
        h1.textContent = 'Блог мастерской кожаных изделий ручной работы';
    </script>

    <section class="main">
        <div class="container">
            <div class="blog-items">
                <div class="h2">
                    <h2 class="h2__title">Статьи о кожаных изделиях</h2>
                    <span class="h2__title-underline"></span>
                </div>
                <div class="blog-wraper">
                    <ul class="blog-list">
                        {% for blogArticle in blogarticles %}
                            <li class="blog-item">
                                <a href="{{ blogArticle.get_absolute_url }}" class="blog-item__link">
                                    <div class="blog-item__img-wrap">
                                        <img
                                            src="{{ blogArticle.img_main_small.url}}"
                                            alt="{{ blogArticle.img_main_small_alt }}"
                                            title="{{ blogArticle.img_main_small_title }}"
                                            class="blog-item__img"
                                        />
                                    </div>
                                    <p class="blog-item__title">{{ blogArticle.name }}</p>
                                    <p class="product-item__aticle">
                                        {{ blogArticle.description|truncatechars:100 }}
                                    </p>
                                    <div class="blog-item__author-wrap">
                                        <img
                                            src="
                                                {% if blogArticle.autor_photo %}
                                                    {{ blogArticle.autor_photo.url }}
                                                {% else %}
                                                    {% static 'img/blog/author_deafaul_foto.jpg' %}
                                                {% endif %}
                                            "
                                            alt="Фото автора"
                                            titel="Фото автора"
                                            class="blog-item__author-img"
                                        />
                                        <div class="blog-item__author-txt-wrap">
                                            <p class="blog-item__author-name">
                                                {{ blogArticle.autor }}
                                            </p>
                                            <p class="blog-item__date">{{ blogArticle.time_update.date }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}