{% extends 'base.html' %} 
{% load static %} 
{% block title %} Мастерская кожаных изделий ручной работы "Qualitas leather" {% endblock %} 
{% block mainContent %}
    {% include 'includes/header_small.html' %}
    <section class="main main_small-header">
        <div class="container">
            <div class="information">
                <div class="h1-block h1-block--narrow-header">
                    <h1 class="h1-block__title h1-block__title--narrow-header">Данная страница будет добавлена в ближайшее время</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}