{% extends 'base.html' %} 

{% load static %} 

{% block title %} Мастерская кожаных изделий ручной работы "Qualitas" {% endblock %}

{% block mainContent %}
    <style>
        .header_background {
            background-image: url({{prodCategory.product_category_img_mobile.url}});
        }
        @media (min-width: 576px) {
            .header_background {
                background-image: url({{prodCategory.product_category_img_mobile_horizontal.url}});
            }
        }
        @media (min-width: 768px) {
            .header_background {
                background-image: url({{prodCategory.product_category_img_tablet.url}});
            }
        }
        @media (min-width: 1200px) {
            .header_background  {
                background: url({% static 'img/header_shadow.png' %}) 0 0 repeat-x,
                    url({{prodCategory.product_category_img_desktop.url}}) center/cover no-repeat;
            }
        }
    </style>
    {% include 'includes/header_big.html' %}
    <section class="main">
        <div class="container">
            <div class="category-items">
                <div class="h2">
                    <h2 class="h2__title">Каталог кожаных ремней ручной рыботы</h2>
                    <span class="title-underline"></span>
                </div>
                <div class="products-wraper">
                    <ul class="products-list">
                        {% for prodItem in prodItemsByCategory %}
                        <li class="product">
                            <a href="{{ prodItem.get_absolute_url }}" class="pruduct__link">
                                <div class="product__img-wrap">
                                    <img
                                        src="{{ prodItem.product_img_main.url }}"
                                        alt="Ремень из кожи буйвола коричневого цвета"
                                        class="product__img"
                                    />
                                </div>
                                <p class="product__text product__title">
                                    {{ prodItem.product_name }}
                                </p>
                                <p class="product__text roduct__price">{{ prodItem.product_price }} &#8381;</p>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}