{% extends 'base.html' %} 
{% load static %} 
{% block title %} Мастерская кожаных изделий ручной работы "Qualitas" {% endblock %} 
{% block mainContent %}
    {% include 'includes/header_small.html' %}
    <section class="main main_small-header">
        <div class="container">
            <div class="information">
                <div class="h1 h1_end-product">
                    <h1 class="h1__title h1-title_end-product">Данная страница будет добавлена в ближайшее время</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}