{% extends 'base.html' %} 

{% load static %} 

{% block title %}  
    {{product.product_name}} | Мастерская кожаных изделий ручной работы "Qualitas leather"
{% endblock %} 
{% block meta_tags %}
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="description" content="{{ product.product_page_description }}">
    <meta name="keywords" content="{{ product.product_page_keywords }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content='{{ product.product_name }} | Мастерская кожаных изделий ручной работы "Qualitas leather"'/>
    <meta property="og:description" content="{{ product.product_page_description }}"/>
    <meta property="og:url" content="{{ product.get_absolute_url }}" />
    <meta property="og:site_name" content='Мастерская кожаных изделий ручной работы "Qualitas leather"'/>
    <meta property="og:image" content="{{ product.productimg_set.all.first.product_img_big.url }}"/>
    <meta property="og:image:type" content="image/jpg">
{% endblock %}

{% block mainContent %}
    {% include 'includes/header_small.html' %}
    <section class="main main_small-header">
        <div class="container">
            <div class="end-product">
                <div class="h1 h1_narrow-header">
                    <h1 class="h1__title h1-title_narrow-header">
                        {{product.product_name}}
                    </h1>
                </div>
                <div class="end-product_wrap">
                    <div class="end-product-img">
                        <div id="mainCarousel" class="carousel">
                            {% for image in product.productimg_set.all %}
                                <div
                                    class="carousel__slide"
                                    data-src="{{image.product_img_big.url}}"
                                    data-fancybox="gallery"
                                >
                                    <img src="{{image.product_img.url}}" alt="{{image.product_img_alt}}" title="{{image.product_img_title}}"/>
                                </div>
                            {% endfor %}

                        </div>
                        <div id="thumbCarousel" class="carousel">
                            {% for image in product.productimg_set.all %}
                                <div class="carousel__slide">
                                    <img class="panzoom__content" src="{{image.product_img.url}}" alt="{{image.product_img_alt}}" title="{{image.product_img_title}}"/>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="end-product-spec">
                        <ul class="end-product-spec__list">
                            <li class="end-product-spec__item end-product-spec__price">
                                {{product.product_price}} &#8381;
                            </li>
                            <li class="end-product-spec__item">Цвет: {{product.product_color.colorName}}</li>
                            <li class="end-product-spec__item">Материал: {{product.product_material.materialName}}</li>
                            <li class="end-product-spec__item">Размер: {{product.product_size}}</li>
                            <li class="end-product-spec__item">Срок изготоления: {{product.product_make_time.make_time}}</li>
                            {% if product.product_fitting.fittingName %}
                                <li class="end-product-spec__item">Фурнитура: {{product.product_fitting.fittingName}}</li>
                            {% endif %}
                            <li class="end-product-spec__item">
                                Упаковка: упаковывается в тканевый мешок с логотипом. Подарочная коробка +500р к стоимости.
                            </li>
                            <li class="end-product-spec__item end-product-spec__description">
                                <span class="">Описание товара:</span>
                                <p class="end-product-spec__description_p">
                                    {{product.product_description|safe}}
                                </p>
                            </li>
                        </ul>
                        <button data-fancybox="" data-src="#modal-window" class="main-button main-button-modal">
                            Оформить заказ
                        </button>
                    </div>
                </div>
            </div>
            <div id="modal-window" class="modal-window">
                <div class="modal-window__content">
                    <p class="modal-window__text">
                        Укажите детали заказа и мы свяжимся с вами или воспользуйтесь удобным для вас способом и напишите нам. 
                        <a href="{% url 'contacts' %}" class="modal-window__contacts-link">Наши контакты.</a>
                    </p>
                    <form action="{% url 'makeorder' product.id %}" method="POST" class="modal-window__form">
                        {{ form.non_field_errors }}
                        {% csrf_token %}
                        <ul class="modal-window__list">
                            <li class="modal-window__list-item">
                                <span class="modal-window__input_title">Изделие:</span>
                                <span class="modal-window__input_title">
                                    {{ product.product_name }}
                                </span>
                                <img
                                    class='modal-window__image'
                                    src="{{ product.product_img_main.url }}"
                                    alt="{{ product.product_img_main_alt }}"
                                />
                                
                                {{ form.order_product_url.errors }}
                                {{ form.order_product_url }}

                                {{ form.captcha }}
                            </li>
                            <li class="modal-window__list-item">
                                {{ form.order_customer_name.errors }}
                                <label class="modal-window__input_title" for="{{ form.order_customer_name.id_for_label  }}"
                                    >Как вас зовут:</label
                                >
                                {{ form.order_customer_name }}
                            </li>
                            <li class="modal-window__list-item">
                                {{ form.order_customer_telephone.errors }}
                                <label class="modal-window__input_title" for="{{ form.order_customer_telephone.id_for_label  }}"
                                    >Контактный телефон:
                                </label>
                                {{ form.order_customer_telephone }}
                                
                            </li>
                            <li class="modal-window__list-item">
                                {{ form.order_customer_comment.errors }}
                                <label class="modal-window__input_title" for="{{ form.order_customer_comment.id_for_label  }}"
                                    >Комментарий к заказу:</label
                                >
                                {{ form.order_customer_comment }}
                            </li>
                            <li class="modal-window__list-item">
                                <input
                                    class="main-button main-button__submit-modal"
                                    type="submit"
                                    value="Отправить"
                                />
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="modal-window__order-true display-none">
                    <br />
                    Ваш заказ оформлен, мы свяжемся с Вами в ближайшее время. <br />
                    Вы также можете написать нам в социальных сетях.<br />
                    <a href="{% url 'contacts' %}" class="modal-window__contacts-link">Наши контакты.</a>
                </div>
                <div class="modal-window__order-false display-none">
                    <br />
                    Приносим извинения за временные неполадки. <br />
                    Попробуйте оформить заказ подзднее или свяжитесь с нами в социальных сетях.<br />
                    <a href="{% url 'contacts' %}" class="modal-window__contacts-link">Наши контакты.</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}