{% extends 'base.html' %} 

{% load static %} 

{% block title %} 
    {{ category.product_category_h1 }} | Мастерская кожаных изделий ручной работы "Qualitas leather" 
{% endblock %}
{% block meta_tags %}
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="description" content="{{ category.product_category_description }}">
    <meta name="keywords" content="{{ category.product_category_keywords }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ category.product_category_h1 }} | Мастерская кожаных изделий ручной работы "Qualitas leather" "/>
    <meta property="og:description" content="{{ category.product_category_description }}"/>
    <meta property="og:url" content="{{ category.get_absolute_url }}" />
    <meta property="og:site_name" content='Мастерская кожаных изделий ручной работы "Qualitas leather"'/>
    <meta property="og:image" content="{{ category.product_category_img_main.url }}"/>
    <meta property="og:image:type" content="image/jpg">
{% endblock %}
{% block mainContent %}

    <style>
        .header_background {
            background: 
                url({% static 'img/header_shadows.png' %}) 0 0 repeat-x,
                url({{category.product_category_img_mobile.url}}) center/cover no-repeat;
        }
        @media (min-width: 576px) {
            .header_background {
                background: 
                    url({% static 'img/header_shadows.png' %}) 0 0 repeat-x,
                    url({{category.product_category_img_mobile_horizontal.url}}) center/cover no-repeat;
            }
        }
        @media (min-width: 768px) {
            .header_background {
                background: 
                    url({% static 'img/header_shadows.png' %}) 0 0 repeat-x,
                    url({{category.product_category_img_tablet.url}}) center/cover no-repeat;
            }
        }
        @media (min-width: 1200px) {
            .header_background  {
                background: 
                    url({% static 'img/header_shadows.png' %}) 0 0 repeat-x,
                    url({{category.product_category_img_desktop.url}}) center/cover no-repeat;
            }
        }
    </style>
    {% include 'includes/header_big.html' %}
    
    <script>
        let h1 = document.getElementById('header-title');
        h1.textContent = '{{category.product_category_h1}}';
    </script>

    <section class="main">
        <div class="container">
            <div class="category-items">
                <div class="h2">
                    <h2 class="h2__title">{{category.product_category_h2}}</h2>
                    <span class="h2__title-underline"></span>
                </div>
                <div class="products-wraper">
                    <ul class="products-list">
                        {% for prodItem in products %}
                        <li class="product">
                            <a href="{{ prodItem.get_absolute_url }}" class="pruduct__link">
                                <div class="product__img-wrap">
                                    <img
                                        src="{{ prodItem.product_img_main.url }}"
                                        alt="{{ prodItem.product_img_main_alt }}"
                                        title="{{prodItem.product_img_main_title}}"
                                        class="product__img"
                                    />
                                </div>
                                <p class="product__text product__title">
                                    {{ prodItem.product_name }}
                                </p>
                                <p class="product__text roduct__price">{{ prodItem.product_price }} &#8381;</p>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% include 'includes/pagination.html' %}
        </div>
    </section>
{% endblock %}