{% extends 'base.html' %} 

{% load static %} 

{% block title %} 
    Способы доставки | Мастерская кожаных изделий ручной работы "Qualitas leather" 
{% endblock %} 
{% block meta_tags %}
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="description" content='Способы доставки. Купить изделия ручной работы из натуральной кожи или заказать индивидуальный дизайн вы можете в мастерской "Qualitas leather". Долговечные изделия, которые подойдут на подарок. Доставка по всей России.'>
    <meta name="keywords" content="способы доставки, доставка по городу Ростов-на-Дону">
    <meta property="og:type" content="website">
    <meta property="og:title" content='Способы доставки | Мастерская кожаных изделий ручной работы "Qualitas"'/>
    <meta property="og:description" content='Способы доставки. Купить изделия ручной работы из натуральной кожи или заказать индивидуальный дизайн вы можете в мастерской "Qualitas leather". Долговечные изделия, которые подойдут на подарок. Доставка по всей России.'/>
    <meta property="og:url" content="https://qualitas.store/delivery" />
    <meta property="og:site_name" content='Мастерская кожаных изделий ручной работы "Qualitas leather"'/>
    <meta property="og:image" content="{% static 'img/home/main_image_open_graph.jpg' %}"/>
    <meta property="og:image:type" content="image/jpg">
{% endblock %}

{% block mainContent %}
    {% include 'includes/header_small.html' %}
    <section class="main main_small-header">
        <div class="container">
            <div class="information">
                <div class="h1 h1_narrow-header">
                    <h1 class="h1__title h1-title_narrow-header">Способы доставки</h1>
                </div>
                <div class="information_wrap">
                    <div class="info-img-block">
                        <img src="{% static 'img/delivery.jpg' %}" alt="Способы доставки" class="info-img-block__image" />
                    </div>
                    <div class="info-text-block">
                        <div class="info-text-block__item">
                            <p class="info-text-block__p">Основные способы доставки:</p>
                            <ul class="delivery__list">
                                <li class="delivery__item">транспортная компания СДЭК;</li>
                                <li class="delivery__item">транспортная компания Boxberry;</li>
                                <li class="delivery__item">транспортная компания DPD;</li>
                                <li class="delivery__item">почта России.</li>
                            </ul>
                        </div>
                        <div class="info-text-block__item">
                            <p class="info-text-block__p">
                                Стоимость и сроки доставки рассчитываются индивидуально до
                                каждого города в зависимости от габаритов изделия и веса
                            </p>
                        </div>
                        <div class="info-text-block__item">
                            <p class="info-text-block__p">Доставка при заказе от 10000 рублей осуществляется бесплатно</p>
                        </div>
                        <div class="info-text-block__item">
                            <p class="info-text-block__p">Доставка по городу Ростов-на-Дону бесплатно.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}