{% extends 'base.html' %} 

{% load static %} 

{% block title %} 
    Кожа, прошивочная нить и фурнитура для вашего индивидуального заказа | Мастерская кожаных изделий ручной работы "Qualitas leather"
{% endblock %} 
{% block meta_tags %}
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="description" content='!!!!!!!!!!!!!!!!!!!!'>
    <meta name="keywords" content="!!!!!!!!!!!!!!!!!!!!!!!">
    <meta property="og:type" content="website">
    <meta property="og:title" content='Кожа, прошивочная нить и фурнитура для вашего индивидуального заказа | Мастерская кожаных изделий ручной работы "Qualitas leather"'/>
    <meta property="og:description" content='!!!!!!!!!!!!!!!!!!!!!'/>
    <meta property="og:url" content="https://qualitas.store/tisnenie" />
    <meta property="og:site_name" content='Мастерская кожаных изделий ручной работы "Qualitas leather"'/>
    <meta property="og:image" content="{% static 'img/home/main_image_open_graph.jpg' %}"/>
    <meta property="og:image:type" content="image/jpg">
{% endblock %}

{% block mainContent %}
    {% include 'includes/header_small.html' %}
    <section class="main main_small-header">
        <div class="container">
            <div class="h1-block h1-block--narrow-header">
                <h1 class="h1-block__title h1-block__title--narrow-header">Выберите уникальное сочетание материалов, нити, фурнитуры для вашего изделия из натуральной кожи</h1>
            </div>
            <div class="row-content">
                <div class="row-content__colum1">
                    <div class="h2">
                        <h2 class="h2__title">Кожа Crazy Horse</h2>
                        <span class="h2__title-underline"></span>
                    </div>
                    <p class="text-paragraph">
                        Кожа Crazy Horse leather или Крейзи Хорс – натуральный материал высокой прочности, плотности, эластичности, толщиной 1-3 мм с необычной, 
                        как бы состаренной поверхностью. За счет особой технологии выделки она светлее в местах изгибов, заломов, частых прикосновений, 
                        что придает кожаным изделиям шарм предметов с богатой историей. 
                        Традиционно Crazy Horse служила материалом для изготовления седел, отсюда ее название, которое переводится как «дикая лошадь».
                    </p>
                    <div class="image-container">
                        <a
                            data-fancybox="leather_crazy_horse_1"
                            data-src="{% static 'img/kozha_nit_furnitura/leather_crazy_horse_1.jpg' %}"
                            data-caption="Фотогарфия кожи Crazy Horse"
                            class="image-container__link-item"
                        >
                            <img 
                                src="{% static 'img/kozha_nit_furnitura/leather_crazy_horse_1.jpg' %}" 
                                alt="Фотогарфия кожи Crazy Horse" 
                                class="image-container__img"
                            />
                        </a>
                        <a
                            data-fancybox="leather_crazy_horse_1"
                            data-src="{% static 'img/kozha_nit_furnitura/leather_crazy_horse_2.jpg' %}"
                            data-caption="Образец изделия из кожи Crazy Horse"
                            class="image-container__link-item"
                        >
                            <img 
                                src="{% static 'img/kozha_nit_furnitura/leather_crazy_horse_2.jpg' %}" 
                                alt="Образец изделия из кожи Crazy Horse" 
                                class="image-container__img"
                            />
                        </a>
                        <a
                            data-fancybox="leather_crazy_horse_1"
                            data-src="{% static 'img/kozha_nit_furnitura/leather_color_palette.jpg' %}"
                            data-caption="Расцветка кожи Crazy Horse"
                            class="image-container__link-item"
                        >
                            <img 
                                src="{% static 'img/kozha_nit_furnitura/leather_color_palette.jpg' %}" 
                                alt="Расцветка кожи Crazy Horse" 
                                class="image-container__img"
                            />
                        </a>
                    </div>
                </div>
                <div class="row-content__colum1">
                    <div class="h2">
                        <h2 class="h2__title">Кожа КРС (крупный рогатый скот)</h2>
                        <span class="h2__title-underline"></span>
                    </div>
                    <p class="text-paragraph">
                        Из всех разновидностей натуральной кожи наиболее распространенным сырьем для пошива одежды, обуви, галантереи, повседневных аксессуаров 
                        и специализированного снаряжения традиционно является кожа КРС. Данный вид кожи также широко применяется при производстве мебели, 
                        декорировании интерьера и перетяжке автомобильных салонов. В этой статье мы расскажем о видах, особенностях, производственном назначении и 
                        критериях выбора кожи КРС. Несмотря на то, что в наши дни благодаря стараниям технологов из различных отраслей в мире появляется 
                        все больше новых материалов как синтетического, так и органического происхождения, кожа КРС по-прежнему остается одним из наиболее качественных, 
                        долговечных и востребованных видов природного сырья для изготовления самых разнообразных изделий.
                    </p>
                    <div class="image-container">
                        <a
                            data-fancybox="leather_krs"
                            data-src="{% static 'img/kozha_nit_furnitura/leather_krs_1.jpg' %}"
                            data-caption="Фотогарфия кожи КРС (крупный рогатый скот)"
                            class="image-container__link-item"
                        >
                            <img 
                                src="{% static 'img/kozha_nit_furnitura/leather_krs_1.jpg' %}" 
                                alt="Фотогарфия кожи КРС (крупный рогатый скот)" 
                                class="image-container__img"
                            />
                        </a>
                        <a
                            data-fancybox="leather_krs"
                            data-src="{% static 'img/kozha_nit_furnitura/leather_krs_2.jpg' %}"
                            data-caption="Образец изделия из кожи КРС (крупный рогатый скот)"
                            class="image-container__link-item"
                        >
                            <img 
                                src="{% static 'img/kozha_nit_furnitura/leather_krs_2.jpg' %}" 
                                alt="Образец изделия из кожи КРС (крупный рогатый скот)" 
                                class="image-container__img"
                            />
                        </a>
                        <a
                            data-fancybox="leather_krs"
                            data-src="{% static 'img/kozha_nit_furnitura/leather_color_palette.jpg' %}"
                            data-caption="Расцветка кожи КРС (крупный рогатый скот)"
                            class="image-container__link-item"
                        >
                            <img 
                                src="{% static 'img/kozha_nit_furnitura/leather_color_palette.jpg' %}" 
                                alt="Расцветка кожи КРС (крупный рогатый скот)" 
                                class="image-container__img"
                            />
                        </a>
                    </div>
                </div>
                <div class="row-content__colum1">
                    <div class="h2">
                        <h2 class="h2__title">Кожа рептилии</h2>
                        <span class="h2__title-underline"></span>
                    </div>
                    <p class="text-paragraph">
                        Кожа крокодилов, особенно аллигаторов, используется в кожевенной промышленности для изготовления различных галантерейных изделий 
                        (портфелей, чемоданов, обуви, дамских сумочек и т. п.). Эти предметы носят эксклюзивный характер, являясь предметом роскоши. 
                        Из-за брюшных щитков-остеодерм кожа крокодилового каймана не идеальна для обработки; для выделки годится только кожа с боков. 
                        Интенсивно охотиться на этих кайманов стали, в основном, после истребления в 1950-х гг. других видов крокодилов.
                        Кожу каймана часто выдают за кожу аллигатора. Кожа тупорылых крокодилов считается низкокачественной и не пользуется большим спросом. 
                        Успешно действуют программы разведения крокодилов на специальных фермах (крокодиловых ранчо), в основном с целью получения кожи.
                    </p>
                    <div class="image-container">
                        <a
                            data-fancybox="leather_reptile"
                            data-src="{% static 'img/kozha_nit_furnitura/leather_reptile_1.jpg' %}"
                            data-caption="Фотогарфия кожи рептилии"
                            class="image-container__link-item"
                        >
                            <img 
                                src="{% static 'img/kozha_nit_furnitura/leather_reptile_1.jpg' %}" 
                                alt="Фотогарфия кожи рептилии" 
                                class="image-container__img"
                            />
                        </a>
                        <a
                            data-fancybox="leather_reptile"
                            data-src="{% static 'img/kozha_nit_furnitura/leather_reptile_2.jpg' %}"
                            data-caption="Образец изделия из кожи рептилии"
                            class="image-container__link-item"
                        >
                            <img 
                                src="{% static 'img/kozha_nit_furnitura/leather_reptile_2.jpg' %}" 
                                alt="Образец изделия из кожи рептилии" 
                                class="image-container__img"
                            />
                        </a>
                        <a
                            data-fancybox="leather_reptile"
                            data-src="{% static 'img/kozha_nit_furnitura/leather_color_palette.jpg' %}"
                            data-caption="Расцветка кожи рептилии"
                            class="image-container__link-item"
                        >
                            <img 
                                src="{% static 'img/kozha_nit_furnitura/leather_color_palette.jpg' %}" 
                                alt="Расцветка кожи рептилии" 
                                class="image-container__img"
                            />
                        </a>
                    </div>
                </div>
                <div class="row-content__colum1">
                    <div class="h2">
                        <h2 class="h2__title">Прошивочная нить</h2>
                        <span class="h2__title-underline"></span>
                    </div>
                    <p class="text-paragraph">
                        Выбрав понравившуюся модель в нашем магазине, нужно определиться с цветом изделия и его прошивки. 
                        У нас всегда есть в наличии 12 цветов кожи и 14 цветов нитей. При выборе заказа на сайте указывайте в комментариях цвет прошивки, 
                        который Вам понравился больше всего.
                    </p>
                    <div class="image-container">
                        <a
                            data-fancybox="leather_thread"
                            data-src="{% static 'img/kozha_nit_furnitura/proshivochnaya_nit_1.jpg' %}"
                            data-caption="Расцветки прошивочной нити"
                            class="image-container__link-item"
                        >
                            <img 
                                src="{% static 'img/kozha_nit_furnitura/proshivochnaya_nit_1.jpg' %}" 
                                alt="Фотогарфия кожи рептилии" 
                                class="image-container__img"
                            />
                        </a>
                        <a
                            data-fancybox="leather_thread"
                            data-src="{% static 'img/kozha_nit_furnitura/proshivochnaya_nit_2.jpg' %}"
                            data-caption="Расцветки прошивочной нити"
                            class="image-container__link-item"
                        >
                            <img 
                                src="{% static 'img/kozha_nit_furnitura/proshivochnaya_nit_2.jpg' %}" 
                                alt="Фотогарфия кожи рептилии" 
                                class="image-container__img"
                            />
                        </a>
                        <a
                            data-fancybox="leather_thread"
                            data-src="{% static 'img/kozha_nit_furnitura/proshivochnaya_nit_3.jpg' %}"
                            data-caption="Расцветки прошивочной нити"
                            class="image-container__link-item"
                        >
                            <img 
                                src="{% static 'img/kozha_nit_furnitura/proshivochnaya_nit_3.jpg' %}" 
                                alt="Фотогарфия кожи рептилии" 
                                class="image-container__img"
                            />
                        </a>
                    </div>
                </div>
                <div class="row-content__colum1">
                    <div class="h2">
                        <h2 class="h2__title">Фурнитура</h2>
                        <span class="h2__title-underline"></span>
                    </div>
                    <p class="text-paragraph">
                        Большинство кожаных изделий нуждаются в фурнитуре. Если вы делаете кошелек или сумку, то, как минимум, вам необходимы кнопки. 
                        Если сумку – это и рамки, и карабины, и молния и т.д. Для изготовления ремня нужна хорошая пряжка, винты и шлёвка. 
                        Сегодня изделия зачастую проектируются от фурнитуры, потому важно не прогадать, иначе конечный вид изделия скажет сам за себя.
                    </p>
                    <div class="image-container">
                        <a
                            data-fancybox="leather_accessories"
                            data-src="{% static 'img/kozha_nit_furnitura/furnitura.jpg' %}"
                            data-caption="Фурнитура используемая в изделиях мастерской Qualitas leather"
                            class="image-container__link-item"
                        >
                            <img 
                                src="{% static 'img/kozha_nit_furnitura/furnitura.jpg' %}" 
                                alt="Фурнитура используемая в изделиях мастерской Qualitas leather" 
                                class="image-container__img"
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}