{% extends 'base.html' %} 

{% load static %} 

{% block title %} 
    Способы оплаты | Мастерская кожаных изделий ручной работы "Qualitas leather" 
{% endblock %} 
{% block meta_tags %}
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="description" content='Способы оплаты. Купить изделия ручной работы из натуральной кожи или заказать индивидуальный дизайн вы можете в мастерской "Qualitas leather". Долговечные изделия, которые подойдут на подарок. Доставка по всей России.'>
    <meta name="keywords" content="способы оплаты, платежные системы, перевод денег">
    <meta property="og:type" content="website">
    <meta property="og:title" content='Способы оплаты | Мастерская кожаных изделий ручной работы "Qualitas leather"'/>
    <meta property="og:description" content='Способы оплаты. Купить изделия ручной работы из натуральной кожи или заказать индивидуальный дизайн вы можете в мастерской "Qualitas leather". Долговечные изделия, которые подойдут на подарок. Доставка по всей России.'/>
    <meta property="og:url" content="https://qualitas.store/payment" />
    <meta property="og:site_name" content='Мастерская кожаных изделий ручной работы "Qualitas leather"'/>
    <meta property="og:image" content="{% static 'img/home/main_image_open_graph.jpg' %}"/>
    <meta property="og:image:type" content="image/jpg">
{% endblock %}

{% block mainContent %}
    {% include 'includes/header_small.html' %}
    <section class="main main_small-header">
        <div class="container">
            <div class="h1-block h1-block--narrow-header">
                <h1 class="h1-block__title h1-block__title--narrow-header">Способы оплаты</h1>
            </div>
            <div class="row-content row-content--minus-margin">
                <div class="row-content__colum2">
                    <img src="{% static 'img/payment.jpg' %}" alt="Способы оплаты" class="info-img-block__image" />
                </div>
                <div class="row-content__colum2">
                    <div class="info-text-block__item">
                        <p class="info-text-block__p">
                            Переводом на банковскую карту Сбербанк, Тинькофф <br>(по номеру
                            счета или телефона)
                        </p>
                    </div>
                    <div class="info-text-block__item">
                        <p class="info-text-block__p">
                            Переводом на расчетный счет <br>(для юридических лиц и ИП)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}