{% extends 'base.html' %} 

{% load static %} 

{% block title %} 
    Услуга персонализации изделия тиснением (гравировка) | Мастерская кожаных изделий ручной работы "Qualitas leather"
{% endblock %} 
{% block meta_tags %}
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="description" content='!!!!!!!!!!!!!!!!!!!!'>
    <meta name="keywords" content="!!!!!!!!!!!!!!!!!!!!!!!">
    <meta property="og:type" content="website">
    <meta property="og:title" content='Услуга персонализации изделия тиснением (гравировка) | Мастерская кожаных изделий ручной работы "Qualitas leather"'/>
    <meta property="og:description" content='!!!!!!!!!!!!!!!!!!!!!'/>
    <meta property="og:url" content="https://qualitas.store/tisnenie" />
    <meta property="og:site_name" content='Мастерская кожаных изделий ручной работы "Qualitas leather"'/>
    <meta property="og:image" content="{% static 'img/home/main_image_open_graph.jpg' %}"/>
    <meta property="og:image:type" content="image/jpg">
{% endblock %}

{% block mainContent %}
    {% include 'includes/header_small.html' %}
    <section class="main main_small-header">
        <div class="container">
            <div class="h1-block h1-block--narrow-header">
                <h1 class="h1-block__title h1-block__title--narrow-header">Персонализация изделия тиснением (гравировка)</h1>
            </div>
            <div class="row-content">
                <div class="row-content__colum1">
                    <div class="h2">
                        <h2 class="h2__title">Тиснение инициалов Ф.И.О., текста.</h2>
                        <span class="h2__title-underline"></span>
                    </div>
                    <p class="text-paragraph">
                        Персонализация вашего кожаного изделия путем тиснения делает изделие более личным. 
                        Данная услуга отлично подойдет для подарка близкому человеку или коллеге, покажет серьезность вашего выбора.
                    </p>
                    <p class="text-paragraph">
                        Тиснение выполняется путем надавливания на кожу разогретым клише, клише может быть как наборным так и уникально созданным для вас.  
                        Оттиск может быть нанесен в любом месте изделия, но только на гладкой стороне кожи.
                    </p>
                    <p class="text-paragraph">
                        Шрифт и его размер фиксированные  (все буквы одной фиксированной высоты - 5 мм), т.к. используется наборное клише (образец фото 1 - 2). 
                        При желании можно заказать уникальную надпись (уникальный шрифт и его размер - фото 3), свяжитесь с нами  
                        <a href="{% url 'contacts' %}" class="link-in-text">(НАШИ КОНТАКТЫ)</a> и мы изготовим клише с текстом индивидуально для вас.
                    </p>
                    <p class="text-paragraph">
                        Для заказа данной услуги достаточно в поле “Комментарий к заказу” указать следующую информацию: дополнительная услуга тиснение текста,  
                        текст для нанесения, место нанесения. Если у вас возникли вопросы напишите любым удобным вам способом 
                        <a href="{% url 'contacts' %}" class="link-in-text">(НАШИ КОНТАКТЫ)</a>.
                    </p>
                    <p class="text-paragraph text-paragraph--size20">
                        Стоимость услуги тиснения наборным клише — 400 рублей. (текст до 12 символов)
                    </p>
                    <p class="text-paragraph text-paragraph--size20">
                        Примеры нашего наборного клише (фото 1, 2) и клише сделанного на заказ (фото 3).
                    </p>
                    <div class="image-container">
                        <a
                            data-fancybox="tisnenie_page_1"
                            data-src="{% static 'img/tisnenie/tisnenie_texta_foto1.jpg' %}"
                            data-caption="Пример тиснения текста с применение наборного клише фото 1"
                            class="image-container__link-item"
                        >
                            <img src="{% static 'img/tisnenie/tisnenie_texta_foto1.jpg' %}" alt="Пример тиснения текста с применение наборного клише фото 1" />
                        </a>

                        <a 
                            data-fancybox="tisnenie_page_1" 
                            data-src="{% static 'img/tisnenie/tisnenie_texta_foto2.jpg' %}"
                            data-caption="Пример тиснения текста с применение наборного клише фото 2"
                            class="image-container__link-item"
                        >
                            <img src="{% static 'img/tisnenie/tisnenie_texta_foto2.jpg' %}" alt="Пример тиснения текста с применение наборного клише фото 2" />
                        </a>

                        <a 
                            data-fancybox="tisnenie_page_1" 
                            data-src="{% static 'img/tisnenie/tisnenie_texta_foto3.jpg' %}"
                            data-caption="Пример тиснения текста с применение разработанного уникального клише"
                            class="image-container__link-item"
                        >
                            <img src="{% static 'img/tisnenie/tisnenie_texta_foto3.jpg' %}" alt="Пример тиснения текста с применение разработанного уникального клише" />
                        </a>
                    </div>
                </div>
                <div class="row-content__colum1">
                    <div class="h2">
                        <h2 class="h2__title">Тиснение рисунка или логотипа</h2>
                        <span class="h2__title-underline"></span>
                    </div>
                    <p class="text-paragraph">
                        При покупки у нас кожаного изделия методом тиснения можем нанести не только текст. На вашем акссессуаре может появится  рисунок или логотип вашей компании. 
                        Изображение может быть представлено вами в векторном формате (CorelDRAW) или разработано нашим дизайнером. На основе изображения будет изготовлено уникальное клише.
                    </p>
                    <p class="text-paragraph">
                        Процедура нанесения оттиска изображения или логотипа, выполняется нагреванием и прижатием клише к гладкой стороне кожи.
                    </p>
                    <p class="text-paragraph">
                        Для заказа данной услуги достаточно в поле “Комментарий к заказу” указать следующую информацию: дополнительная услуга тиснение изображения, место нанесения. 
                        Представьте картинку в векторном формате любым удобным вам способом <a href="{% url 'contacts' %}" class="link-in-text">(НАШИ КОНТАКТЫ)</a> или согласуйте разработку уникального изображения.
                    </p>
                    <p class="text-paragraph text-paragraph--size20">
                        Стоимость услуги и сроки рассчитываются индивидуально.
                    </p>
                    <p class="text-paragraph text-paragraph--size20">
                        Примеры наших работ.
                    </p>
                    <div class="image-container">
                        <a
                            data-fancybox="tisnenie_page_2"
                            data-src="{% static 'img/tisnenie/tisnenie_logotip_foto1.jpg' %}" 
                            data-caption="Пример тиснения изображения"
                            class="image-container__link-item"
                        >
                            <img src="{% static 'img/tisnenie/tisnenie_logotip_foto1.jpg' %}" alt="Пример тиснения изображения" />
                        </a>

                        <a 
                            data-fancybox="tisnenie_page_2" 
                            data-src="{% static 'img/tisnenie/tisnenie_logotip_foto2.jpg' %}"
                            data-caption="Пример тиснения логотипа"
                            class="image-container__link-item"
                        >
                            <img src="{% static 'img/tisnenie/tisnenie_logotip_foto2.jpg' %}" alt="Пример тиснения логотипа" />
                        </a>

                        <a 
                            data-fancybox="tisnenie_page_2" 
                            data-src="{% static 'img/tisnenie/tisnenie_logotip_foto3.jpg' %}" 
                            data-caption="Пример тиснения логотипае"
                            class="image-container__link-item"
                        >
                            <img src="{% static 'img/tisnenie/tisnenie_logotip_foto3.jpg' %}" alt="Пример тиснения логотипа" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}