<!DOCTYPE html>
{% comment %} 
    {% load static %} - данный тег используем для получения доступа к статическим файлам.
    meta property="og:image" content="{% static 'img/home/main_image_open_graph.jpg' %}"/> - 
        {% static подставит нужный путь из файла settings.py для статических файлов.
{% endcomment %}

{% load static %}

{% comment %} 
    Подключаем recaptcha3
{% endcomment %}

{% load recaptcha3 %}

{% comment %}
    Использование Simple Tags
    {% load get_debug_info %} - Подключаем наш simple tag "get_debug_info"
        из директории appProductItem/templatetags.
        get_debug_info - название директории, есть название тега.
    {% getDebugInfo as isDebug %} - вызываем функцию getDebugInfo
        и помещаем результат работы функции в переменную isDebug

    Имеется еще один вид тегов Django - Inclusion tags. Умеет рендерить шаблон.
{% endcomment %}
{% load get_debug_info %}
{% getDebugInfo as isDebug %}

{% load check_is_subdomain %}
{% is_this_a_subdomain as isSubdomain %}

<html>
<head>
    <title>
        {% block title %}
            Мастерская кожаных изделий ручной работы "Qualitas leather"
        {% endblock %}
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--Meta for favicon-->
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
    <!--Meta for favicon-->
    
    {% block meta_tags %}
        <!--Meta for yandex webmaster-->
        <meta name="yandex-verification" content="f2afe232ffc47d31" />
        <!--Meta for yandex webmaster-->
        <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
        <meta name="description" content="Купить изделия ручной работы из натуральной кожи или заказать индивидуальный дизайн вы можете в мастерской “Qualitas leather”. Долговечные изделия, которые подойдут на подарок. Доставка по всей России.">
        <meta name="keywords" content="кошельки из кожи ручной работы, кожаные кошельки, сумки из натуральной кожи, мужские сумки, кожаные ремни, кожаные портмоне, кожаные рюкзаки, кожаные ключницы, подарки, подарок мужу, подарок парню, подарок жене">
        <meta property="og:type" content="website">
        <meta property="og:title" content='Мастерская кожаных изделий ручной работы "Qualitas leather"'/>
        <meta property="og:description" content='Купить изделия ручной работы из натуральной кожи или заказать индивидуальный дизайн вы можете в мастерской "Qualitas leather"'/>
        <meta property="og:url" content="https://qualitas.store/" />
        <meta property="og:site_name" content='Мастерская кожаных изделий ручной работы "Qualitas leather"'/>
        <meta property="og:image" content="{% static 'img/home/main_image_open_graph.jpg' %}"/>
        <meta property="og:image:type" content="image/jpg">
    {% endblock %}
    
    <!--link for favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favico/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favico/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favico/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/favico/safari-pinned-tab.svg' %}" color="#555555">
    <!--END link for favicon-->
   
    <link rel="stylesheet" href="{% static 'css/fancybox4/fancybox4.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% comment %} 
        Подключаем recaptcha3
    {% endcomment %}
    
    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
</head>

<body>
    {% if not isDebug and not isSubdomain %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        
            ym(93019309, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/93019309" style="position:absolute; left:-9999px;" alt="" /></div></noscript> 
        <!--  Yandex.Metrika counter -->        
    {% endif %}


    {% block mainContent %}
    {% endblock %}
    {% include 'includes/footer.html' %}

    <script defer src="{% static 'js/fancybox4/fancybox.umd.js' %}"></script>
    <script defer src="{% static 'js/script.js' %}"></script>

</body>
</html>
